aniso8601==9.0.1
boto3==1.22.2
boto3-batch-utils==5.1.0
botocore==1.25.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
config==0.5.1
Flask==1.1.4
Flask-RESTful==0.3.8
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==1.0.0
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
pyotp==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
requests==2.27.1
s3transfer==0.5.2
six==1.16.0
urllib3==1.26.9
Werkzeug==1.0.1
pymongo[srv]==3.11